if contact.read
  footer_class = ''
else
  footer_class = 'unread'

div.contact-read
  header= contact.name
  div.section-body
    dl
      dt= contact.primary_contact_type
      dd= contact.primary_contact
    dl
      dt Created
      dd= contact.created_on.toDateString()
    div.toggle
      a more >>
    div.message
      div.subject= contact.subject
      div.content= contact.content

  footer(class=footer_class)
    div
      if contact.tags.length > 0
        each tag in contact.tags
          span.tag= tag
            span.tag-remove x
      else
        span.tag No tag
