if contact.read
  footer_class = ''
else
  footer_class = 'unread'

div.contact-read(data-cid=contact._id)
  header= contact.name
  div.section-body
    dl
      dt= contact.primary_contact_type
      dd= contact.primary_contact
    dl
      dt Created
      dd= contact.created_on.toDateString()
    div.toggle
      a more >>
    div.message
      div.subject= contact.subject
      div.content= contact.content

  footer(class=footer_class)
    div
      - avaliableTags = tags
      if contact.tags.length > 0
        each tag in contact.tags
          span.tag(data-tag=tag)= tag
            span.tag-remove X
      else
        span.tag No tag
      span.action-add-tag
        button.action-add-tag-button(data-tags=['Business', 'Personal']) +
